.App {
  text-align: center;
}

.App-body {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.country-select{
  width:30vw;
  text-align: left;
  font-size: calc(1px + 2vmin);
}
